root=true
# Remove the line below if you want to inherit .editorconfig settings from higher directories

# C# files
[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# CA1054: URI parameters should not be strings
dotnet_diagnostic.CA1054.severity = none

# CA1055: URI return values should not be strings
dotnet_diagnostic.CA1055.severity = none

# CA1056: URI properties should not be strings
dotnet_diagnostic.CA1056.severity = none

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none

# IDE0028: Use collection initializers or expressions
dotnet_diagnostic.IDE0028.severity = none

vsspell_ignored_words_3B8819EFE3674A3DA06D776746A2B12C = Cors|Validator
